.header_inner {
    display: flex;
}

.header_image {
    width: 100px;
    width: 20%;
    order: 0;
}

.header_text {
    width: 80%;
    order: 1;
}

.header_image div:nth-of-type(1) {
    width: 20%;
}

.header_image div:nth-of-type(2) {
    width: 80%;
}