body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: Regular;
    display: flex;
    flex-direction: column;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
    width: 100px;
}

.title-super {
    font-size: 60px;
    width: 80%;
}

hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    height: 5px !important;
}

.header_inner {
    display: block;
}

.header_image {
    max-width: 300px;
}