body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: Regular;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3vh 0 3vh 0;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 0.5px dimgrey !important;
    height: 5px !important;
}